<div class="container dn-fade-left">
    <div class="row">
        <div class="col-sm-12">
            <h1>About Matigeni</h1>
            <div class="row">
                <div class="col-sm-4">
                    <h2>Tell me about that.</h2>
                    <p>Imagine that we can raise people's awareness about something bad happening on earth by playing location guessing game.</p>
                    <p>We will build a website with chat functionality in which participants can play guessing game for specific locations on earth. Locations will be carefully selected that feature sites that were (heavily) damaged because of human activities (chemical spill, forest burning, over exploration, etc.). </p>
                    <p>At the end of each round, it will feature more information about the incidents.</p>
                    <h2>FAQ:</h2>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <b class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq1">
                                        Is the game free?
                                    </b>
                                </h4>
                            </div>
                            <div id="faq1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Yeah. We don't need your money. and will never need that.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <b class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq2">
                                        But.. It's so simple and not interesting
                                    </b>
                                </h4>
                            </div>
                            <div id="faq2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>What can we do? We only had few hours to concept and build the project during the hackathon.</p>
                                    <p>But, the vision is huge. We want to make great app to raise people's awareness. It takes time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <b class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq3">
                                        How can I contribute to this project?
                                    </b>
                                </h4>
                            </div>
                            <div id="faq3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>We encourage anyone to contribute to this project. It's fully Open sourced.</p>
                                    <p>Please fork and make further <i>"sane"</i> modification to the project's repository at <a href="https://github.com/antonrifco/matigeni">https://github.com/antonrifco/matigeni</a></p>
                                    <p>Non-coders are also welcome to give your idea for further enhancements. Please mail your thought to anton.rifco[at]gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h2>The Project</h2>
                    <iframe width="350" height="263" src="//www.youtube.com/embed/LkQcDt3FN9c" frameborder="0" allowfullscreen></iframe>
                    <p>Matigeni was developed during NASA SpaceApps Challenge 2014 hackathon. 
                        The author, Anton (mail to him at anton.rifco[at]gmail.com), joined the competition virtually from Dubai</p>
                    <p>Literally, <b>Matigeni</b> means <i>"Turn off the Fire"</i>.</p>
                    <p>But, it's commonly used in Indonesia to refer to ancient ritual of not doing anything for few days. 
                        And, by that, it means you're fasting, should not sleep, and just stay at home doing nothing. It is done to get closer to <i>"Sang Hyang"</i>, the God Almighty.</p>
                    <p>The name, Matigeni, inspired us to stop doing nothing for the sake of our beloved planet earth.</p>
                    <p>This project was only the initial concept. We hope that the idea will grow until people become aware and change their behavior to be more <i>"Earth friendly"</i>. Even if it will take a lifetime to do that.</p>
                </div>
                <div class="col-sm-4">
                    <h2>Join our community!</h2>
                    <p>We would like to hear from you, any idea for future enhancement. Please contact any collaborator to get in touch.</p>
                    <p>Just believe that we, as citizen of the world, deserve a second chance to live in a better world.
                        Chances are people just don't know what they did wrong in the past. What were wrong should not continue.
                    <p>It's our responsibility to raise awareness.</p>
                    
                    <p>We also welcome you to take a look at Matigeni project source codes at <a href="https://github.com/antonrifco/matigeni">https://github.com/antonrifco/matigeni</a>
                        Future modification is encouraged!
                    </p>
                    
                    <h2>SpaceApps Challenge</h2>
                    <p>We participated in <b>NASA SpaceApps Challenge 2014</b>, under <i>"Where On Earth"</i> category. Take a look at the <a href="https://2014.spaceappschallenge.org/project/matigeni/">project page</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>