<div class="container-fluid dn-fade-left">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <div class="media">
                        <a class="thumbnail pull-left" href="#">
                            <img class="media-object" ng-show="!user" src="img/anon.jpg">
                            <img class="media-object" ng-show="user" ng-src="https://graph.facebook.com/{{user.id}}/picture?type=square">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading" ng-show="!user">Guest</h4>
                            <h4 class="media-heading" ng-show="user">{{user.displayName}}</h4>
                            <p ng-show="user"><span class="label label-info">{{user.points}} points</span> <span class="label label-warning">{{user.questions.length}} questions</span></p>
                            <p>
                                <span ng-show="user" ng-click="logout()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove-circle"></span> Logout</span>
                                <span ng-show="!user" ng-click="login()" class="btn col-md-4 btn-social btn-facebook" >
                                    <i class="fa fa-facebook"></i>Sign in with Facebook
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- The carousel -->
        <h5 ng-show="user && activequestion">Q: Where did this Man-Made disaster happen (city)? Hints below:</h5>
        <h5 ng-hide="!user || activequestion">No unanswered questions.</h5>
        <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#transition-timer-carousel" data-slide-to="1"></li>
                <li data-target="#transition-timer-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item" ng-class="{'active':$index==0}" ng-repeat="hint in hints" ng-cloak>
                    <center>
                        <img ng-src="{{hint.image}}"/>
                    </center>
                    <div class="carousel-caption">
                        <h1 class="carousel-caption-header">{{hint.title}}</h1>
                        <p class="carousel-caption-text hidden-sm hidden-xs" ng-bind-html="hint.text">
                        </p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <control class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </control>
            <control class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </control>

            <!-- Timer "progress bar" -->
            <hr class="transition-timer-carousel-progress-bar animate" />
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="input-group input-group-lg" ng-hide="user && activequestion">
                    <span class="input-group-addon" id='id_blogin' tooltip-placement="right" tooltip="This field is used to answer the game's questions"><span class="glyphicon glyphicon-question-sign"></span></span>
                    <input type="text" class="form-control" placeholder="My Answer" disabled>
                    <span class="input-group-btn" >
                        <button type="button" class="btn btn-primary btn-lg" disabled>Submit</button>
                    </span>
                </div>
                <div class="input-group input-group-lg" ng-show="user && activequestion">
                    <span class="input-group-addon" id='id_alogin' tooltip-placement="right" tooltip="Put your answer here. Try to be specific!"><span class="glyphicon glyphicon-question-sign"></span></span>
                    <input type="text" class="form-control" placeholder="My Answer" ng-model="myguess" ng-enter="guess()">
                    <span class="input-group-btn" >
                        <button type="button" class="btn btn-primary btn-lg" ng-click="guess()">Submit</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="accordion">
        <div class="panel panel-primary" id="chatbox">
            <div class="panel-heading">
                <span data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-comment"></span> Chat</span>
            </div>
            <div class="panel-collapse collapse in" id="collapseOne">
                <div class="panel-body" id='chat-text-list' scrolledarea ng-cloak>
                    <ul class="chat">
                        <li class="left clearfix">
                            <span class="chat-img pull-left">
                                <img src="http://placehold.it/40/55C1E7/fff&text=MG" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Matigeni</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>beginning of time</small>
                                </div>
                                <p>
                                    Welcome to Matigeni game. Please login to play game!
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix dn-flip-x" ng-repeat="chat in chats" ng-show="user" ng-cloak>
                            <span class="chat-img pull-left">
                                <img ng-if="chat.userid" ng-src="https://graph.facebook.com/{{chat.userid}}/picture?small" alt="User Avatar" class="img-circle" ng-cloak/>
                                <img ng-hide="chat.userid" src="http://placehold.it/40/55C1E7/fff&text=MG" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font" ng-class="{'text-danger': chat.name==botname}">{{chat.name}}</strong>
                                    <small class="pull-right text-muted chat-time">
                                        <span class="glyphicon glyphicon-time"></span>{{chat.timestamp*1000 | date:'MMM d,yyyy H:mm'}}
                                    </small>
                                </div>
                                <p ng-bind-html="chat.text"></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group" ng-hide="user">
                        <input type="text" class="form-control input-sm" placeholder="Type your message..." disabled/>
                        <span class="input-group-btn glyphicon glyphicon-send">
                            <button class="btn btn-warning btn-sm" style="padding-top: 2px;padding-bottom: 2px" disabled>
                                <span class="glyphicon glyphicon-send" style="font-size: 19px"></span>
                            </button>
                        </span>
                    </div>
                    <div class="input-group" ng-show="user" ng-cloak>
                        <input type="text" class="form-control input-sm" ng-show="!sendingtext" placeholder="Type your message..." ng-model="chattext" ng-enter="sendtext()"/>
                        <span class="input-group-btn" >
                            <button class="sendbutton" ng-click="sendtext()" ng-show="!sendingtext">
                                <span class="glyphicon glyphicon-send" style="font-size: 19px"></span>
                            </button>
                        </span>
                         <span class="input-group-btn" ng-show="sendingtext">
                            <img src='img/ajax-loader.gif'/>
                            <img src='img/ajax-loader.gif'/>
                            <img src='img/ajax-loader.gif'/>
                            <img src='img/ajax-loader.gif'/>
                            <img src='img/ajax-loader.gif'/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary" id="peoplebox">
            <div class="panel-heading" >
                <span data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-comment"></span> Participants</span>
            </div>
            <div class="panel-collapse collapse" id="collapseTwo">
                <div class="panel-body">
                    <ul class="chat">
                        <li class="clearfix" ng-repeat="user in users" ng-show="user">
                            <div class="chat-body clearfix">
                                <div class="header" ng-class="{'idle':user.status!='online'}">
                                    <a href="https://facebook.com/{{user.id}}" target="_blank">
                                        <img class="profile-photo media-object" ng-src="https://graph.facebook.com/{{user.id}}/picture?small">
                                        <strong class="primary-font profile-name">{{user.name}}</strong>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
</div>
